<!DOCTYPE html>
<html>

<% include ./head %>
	
<body>
	<% include ./navigation %>
   
   <div class="content">
     About Content Here
   </div>


	<% include ./footer %>
	<% include ./scripts %>
</body>

</html>