<div class="footer center">
  <div class="social">
    <a href="https://facebook.com/"  class="fa fa-3x fa-facebook-square"  aria-hidden="true" tabindex="996"></a>
    <a href="https://twitter.com/"   class="fa fa-3x fa-twitter-square"   aria-hidden="true" tabindex="997"></a>
    <a href="https://pinterest.com/" class="fa fa-3x fa-pinterest-square" aria-hidden="true" tabindex="998"></a>
    <a href="https://instagram.com/" class="fa fa-3x fa-instagram"        aria-hidden="true" tabindex="999"></a>
  </div>

  <div class="copyright">Made By moT for #30days30Sites</div>
</div>
