<!DOCTYPE html>
<html>

<% include ./head %>
	
<body>
	<% include ./navigation %>
   
     <div class="flex-vertical" id="slideshow">
       <div class="slide" id="slide0">
         <div class="slide-info">
           <div class="slide-title">ARCHITECTURAL DIGEST<br>RANKS 4 WTC #1</div>       
           <div class="slide-text">4 WTC was voted as having the most breathtaking office views in the world by Architectural Digest</div>
           <div class="slide-button">READ MORE</div>       
         </div>
       </div>

       <div class="slide slide-absolute" id="slide1">
         <div class="slide-info">
           <div class="slide-title">WHAT TOMORROW LOOKS LIKE</div> 
           <div class="slide-text">Come see for yourself what tomorrow looks like … today. The all-new World Trade Center embodies the best of 21st century New York.</div>
         </div> 
       </div>

       <div class="slide slide-absolute" id="slide2">
         <div class="slide-info">
           <div class="slide-title">REACHING NEW HEIGHTS</div> 
           <div class="slide-text">NYC’s world-famous skyline has been reborn and elevated once more — with thoroughly modern architectural masterpieces complementing the world’s most recognized cityscape.</div>
         </div>
       </div>

       <div class="slide slide-absolute" id="slide3">
         <div class="slide-info">
           <div class="slide-title">EXPANDING YOUR HORIZONS</div>       
           <div class="slide-text">Night and day, spectacular, unobstructed views in every direction offer limitless vistas unmatched anywhere else in the city.</div>
         </div> 
       </div>
       
       <div class="slide slide-absolute" id="slide4">
         <div class="slide-info">
           <div class="slide-text">The World Trade Center Transportation Hub is now open, providing direct in-building access to 11 subway lines and PATH trains. Never before has getting anywhere in New York been this simple.</div>       
         </div>
       </div>

       <div class="slide slide-absolute" id="slide5">
         <div class="slide-info">
           <div class="slide-title">SHAPING THE NEW DOWNTOWN</div>       
           <div class="slide-text">The all-new WTC has been transformed into one of New York’s most accessible, convenient, and livable new neighborhoods — a place for the business of every day life, as much as a place for business.</div>
         </div> 
       </div>
       
       <div class="slide slide-absolute" id="slide6">
         <div class="slide-info">
           <div class="slide-title">4 WTC WELCOMES SPOTIFY</div>       
           <div class="slide-text">The global digital music and videos streaming service<br>has leased floors 62-72 at 4 World Trade Center.</div>
           <div class="slide-button">READ MORE</div>
         </div> 
       </div>

       <div class="flex-between chevrons">
         <div class="spritesheet" id="left-chevron"></div>
         <div class="spritesheet" id="right-chevron"></div>
       </div>
     </div>


	<% include ./footer %>
	<% include ./scripts %>
</body>

</html>