<nav>
  <div class="nav flex-center">
    <div class="spritesheet WTC-logo"></div>
    <a class="nav-btn flex-around" href="/"            id="home"       >HOME</a>
    <a class="nav-btn flex-around" href="/about"       id="about"      >ABOUT</a>
    <a class="nav-btn flex-around" href="/officeSpace" id="officeSpace">OFFICE SPACE</a>
    <a class="nav-btn flex-around" href="/thingsToDo"  id="thingsToDo" >THINGS TO DO</a>
    <a class="nav-btn flex-around" href="/memorial"    id="memorial"   >MEMORIAL & MUSEUM</a>
    <a class="nav-btn flex-around" href="/media"       id="media"      >MEDIA</a>
    <a class="nav-btn flex-around" href="/streetArt"   id="streetArt"  >STREET ART</a>
    <div id="nav-menu" class="flex-around">MENU</div>
  </div>
  
  <div class="sub-nav flex-center" id="subAbout">
    <a class="nav-btn flex-around">OVERVIEW</a>
    <a class="nav-btn flex-around">GETTING HERE</a>
    <a class="nav-btn flex-around">OFFICE BUILDING</a>
    <a class="nav-btn flex-around">COMPANIES</a>
    <a class="nav-btn flex-around">HISTORY</a>
    <a class="nav-btn flex-around">CONTACT</a>
  </div>

  <div class="sub-nav flex-center" id="subOfficeSpace">
    <a class="nav-btn flex-around">2 WORLD TRADE CENTER</a>
    <a class="nav-btn flex-around">3 WORLD TRADE CENTER</a>
    <a class="nav-btn flex-around">4 WORLD TRADE CENTER</a>
    <a class="nav-btn flex-around">7 WORLD TRADE CENTER</a>
  </div>

  <div class="sub-nav flex-center" id="subThingsToDo">
    <a class="nav-btn flex-around">DINING</a>  
    <a class="nav-btn flex-around">SHOPPING</a>  
    <a class="nav-btn flex-around">HOTELS</a>  
    <a class="nav-btn flex-around">ATTRACTIONS</a>  
    <a class="nav-btn flex-around">ARCHITECTURE</a>  
    <a class="nav-btn flex-around">ART</a>
    <a class="nav-btn flex-around">EVENTS</a>  
    <a class="nav-btn flex-around">LIVING</a>  
  </div>

  <div class="sub-nav flex-center" id="subMedia">
    <a class="nav-btn flex-around">NEWS</a>  
    <a class="nav-btn flex-around">PHOTOS</a>  
    <a class="nav-btn flex-around">VIDEOS</a>  
    <a class="nav-btn flex-around">PRESS KIT</a>  
  </div>
</nav>


<nav id="mobile-nav">
    <a class="mobile-nav-btn" href="/"><b>HOME</b></a>
    
    <a class="mobile-nav-btn" href="/about"><b>ABOUT</b></a>
      <a class="mobile-nav-btn sub">OVERVIEW</a>
      <a class="mobile-nav-btn sub">GETTING HERE</a>
      <a class="mobile-nav-btn sub">OFFICE BUILDING</a>
      <a class="mobile-nav-btn sub">COMPANIES</a>
      <a class="mobile-nav-btn sub">HISTORY</a>
      <a class="mobile-nav-btn sub">CONTACT</a>    

    <a class="mobile-nav-btn" href="/officeSpace"><b>OFFICE SPACE</b></a>
      <a class="mobile-nav-btn sub">2 WORLD TRADE CENTER</a>
      <a class="mobile-nav-btn sub">3 WORLD TRADE CENTER</a>
      <a class="mobile-nav-btn sub">4 WORLD TRADE CENTER</a>
      <a class="mobile-nav-btn sub">7 WORLD TRADE CENTER</a>

    <a class="mobile-nav-btn" href="/thingsToDo"><b>THINGS TO DO</b></a>
      <a class="mobile-nav-btn sub">DINING</a>  
      <a class="mobile-nav-btn sub">SHOPPING</a>  
      <a class="mobile-nav-btn sub">HOTELS</a>  
      <a class="mobile-nav-btn sub">ATTRACTIONS</a>  
      <a class="mobile-nav-btn sub">ARCHITECTURE</a>  
      <a class="mobile-nav-btn sub">ART</a>
      <a class="mobile-nav-btn sub">EVENTS</a>  
      <a class="mobile-nav-btn sub">LIVING</a>  

    <a class="mobile-nav-btn" href="/memorial"><b>MEMORIAL & MUSEUM</b></a>
    
    <a class="mobile-nav-btn" href="/media"><b>MEDIA</b></a>
      <a class="mobile-nav-btn sub">NEWS</a>  
      <a class="mobile-nav-btn sub">PHOTOS</a>  
      <a class="mobile-nav-btn sub">VIDEOS</a>  
      <a class="mobile-nav-btn sub">PRESS KIT</a>
 
    <a class="mobile-nav-btn" href="/streetArt"   id="streetArt"  ><b>STREET ART</b></a>
</nav>

