<!DOCTYPE html>
<html lang="en">

<% include ./head %>
	
<body>
	<% include ./navigation %>
   
   <div class="content">
     Office Space Content Here
   </div>


	<% include ./footer %>
	<% include ./scripts %>
</body>

</html>